!!!
%html
  %head
    %title Tora Tora
    %meta{:name => "description", :content => "A simple application that demonstrates usage Pusher API"}
    %meta{:name => "author", :content => "Tri Vuong"}
    = stylesheet_link_tag     "http://fonts.googleapis.com/css?family=Montserrat",
                              "css/tora.css"
    = javascript_include_tag  "javascript/jquery.js",
                              "javascript/underscore.js", 
                              "javascript/backbone.js",
                              "javascript/pusher.js",
                              "javascript/models/tora.js",
                              "javascript/toratora.js"
  %body
  
    %input{:type => :text, :id => :message}
    
    %br
    
    %ul#list