#new_game_room
  %p Create new game room
  %input{:type => :text, :id => :room_name, :placeholder => 'Game room'}
  
= javascript_include_tag "javascripts/locale/en.js", "javascripts/models/room.js", "javascripts/views/createRoomView.js", "javascripts/initializers/index.js"